include MANIFEST.in
include README.md
include LICENSE
include bash-complete/colin
recursive-include rulesets *
recursive-include colin *
recursive-include docs *
recursive-include examples *
recursive-include tests *
