include MANIFEST.in
include README.md
include bash-complete/colin
recursive-include ruleset *
recursive-include colin *
recursive-include docs *
recursive-include examples *
recursive-include tests *
